<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Energiequelle bearbeiten</title>
</head>
<body>

<div layout:fragment="content">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Energiequelle bearbeiten</h4>
        <form th:action="@{/energy-sources/edit/{id}(id=${energySource.id})}" method="post" novalidate>
            <input type="hidden" th:field="*{id}" />

            <!-- Energiequelle-Typ -->
            <div class="form-group">
                <label for="energyType">Energiequelle-Typ</label>
                <input type="text" class="form-control" id="energyType" name="energyType" th:field="*{energySource.energyType}" required>
                <div class="invalid-feedback">
                    Energiequelle-Typ ist notwendig.
                </div>
            </div>

            <!-- Maximale Kapazität -->
            <div class="form-group">
                <label for="maxCapacity">Maximale Kapazität</label>
                <input type="text" class="form-control" id="maxCapacity" name="maxCapacity" th:field="*{energySource.maxCapacity}" required>
                <div class="invalid-feedback">
                    Maximale Kapazität ist notwendig.
                </div>
            </div>

            <!-- Aktueller Speicherstand -->
            <div class="form-group">
                <label for="currentStorage">Aktueller Speicherstand</label>
                <input type="text" class="form-control" id="currentStorage" name="currentStorage" th:field="*{energySource.currentStorage}" required>
                <div class="invalid-feedback">
                    Aktueller Speicherstand ist notwendig.
                </div>
            </div>

            <!-- Netzwerkname -->
            <div class="form-group">
                <label for="networkName">Netzwerkname</label>
                <input type="text" class="form-control" id="networkName" name="networkName" th:value="${energySource.energyNetwork.name}" required readonly>
                <div th:if="${energySource.energyNetwork != null}">
                    <p>Energy Network: <span th:text="${energySource.energyNetwork.name}"></span></p>
                </div>
            </div>

            <hr class="my-4">

            <!-- Speichern-Schaltfläche -->
            <button class="w-100 btn btn-primary btn-lg" type="submit">Speichern</button>
        </form>

        <!-- Schaltfläche zum Löschen des Netzwerks -->
        <a th:href="@{'/energy-sources/delete/' + ${energySource.id}}" class="btn btn-danger btn-lg mt-2">Löschen</a>
    </div>
</div>
</body>
</html>
