<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Providerliste</title>
</head>
<body>

<div layout:fragment="content">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Anbieterliste</h4>
        <a th:href="@{/providers/create}" class="btn btn-primary mb-3">Neuen Provider hinzufügen</a>
        <div class="card-body">
            <table class="dataTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Betreibernummer</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="provider : ${providers}">
                    <td th:text="${provider.getId()}"></td>
                    <td th:text="${provider.getFirstName()}"></td>
                    <td th:text="${provider.getLastName()}"></td>
                    <td th:text="${provider.getProviderNumber()}"></td>
                    <td>
                        <a th:href="@{'/providers/edit/' + ${provider.id}}" class="btn btn-sm btn-secondary">Bearbeiten</a>
                        <form th:action="@{'/providers/delete/' + ${provider.id}}" th:method="post" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Sind Sie sicher?')">Löschen</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div layout:fragment="body-end">
    <script>
        /* global simpleDatatables */
        window.addEventListener('DOMContentLoaded', () => {
            const table = document.querySelector('.dataTable');
            if (table) {
                // noinspection JSUnresolvedReference
                new simpleDatatables.DataTable(table);
            }
        });
    </script>
</div>
</body>
</html>