<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Verbraucherliste</title>
</head>
<body>

<div layout:fragment="content">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Verbraucherliste</h4>
        <a th:href="@{/consumers/create}" class="btn btn-primary mb-3">Neuen Verbraucher hinzufügen</a>
        <div class="card-body">
            <table class="dataTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Kundennummer</th>
                    <th>Erwarteter Jahresverbrauch</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Kundennummer</th>
                    <th>Erwarteter Jahresverbrauch</th>
                    <th>Aktionen</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="consumer : ${consumers}">
                    <td th:text="${consumer.getId()}"></td>
                    <td th:text="${consumer.getFirstName()}"></td>
                    <td th:text="${consumer.getLastName()}"></td>
                    <td th:text="${consumer.getCustomerNumber()}"></td>
                    <td th:text="${consumer.getExpectedAnnualUsage()}"></td>
                    <td>
                        <a th:href="@{/consumers/edit/{id}(id=${consumer.id})}" class="btn btn-sm btn-secondary">Bearbeiten</a>
                        <form th:action="@{/consumers/delete/{id}(id=${consumer.id})}" th:method="post" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Sind Sie sicher?')">Löschen</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div layout:fragment="body-end">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const table = document.querySelector('.dataTable');
            if (table) {
                new simpleDatatables.DataTable(table);
            }
        });
    </script>
</div>
</body>
</html>